<p style="font-family: Arial; font-size:3em;color:black;"> Lab Exercise 9</p>

In [4]:
# For this example, we will use K-Means Clustering Project database from Kaggle (https://www.kaggle.com/faressayah/k-means-clustering-private-vs-public-universities)
# We actually have the labels for this data set, but we will NOT use them for the KMeans clustering algorithm, since that is an unsupervised learning algorithm.
# As we will shortly see, we have a data frame with 777 observations on 18 variables.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
df = pd.read_csv('/Users/meteorbg/Desktop/GeorgeBrownAAISD/AMML/College_Data.csv',index_col=0)
df.columns

Index(['apps', 'accept', 'enroll', 'top10perc', 'top25perc', 'f_undergrad',
       'p_undergrad', 'outstate', 'room_board', 'books', 'personal', 'phd',
       'terminal', 's_f_ratio', 'perc_alumni', 'expend', 'grad_rate'],
      dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 777 entries, Yes to Yes
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   apps         777 non-null    int64
 1   accept       777 non-null    int64
 2   enroll       777 non-null    int64
 3   top10perc    777 non-null    int64
 4   top25perc    777 non-null    int64
 5   f_undergrad  777 non-null    int64
 6   p_undergrad  777 non-null    int64
 7   outstate     777 non-null    int64
 8   room_board   777 non-null    int64
 9   books        777 non-null    int64
 10  personal     777 non-null    int64
 11  phd          777 non-null    int64
 12  terminal     777 non-null    int64
 13  s_f_ratio    777 non-null    float64
 14  perc_alumni  777 non-null    int64
 15  expend       777 non-null    int64
 16  grad_rate    777 non-null    int64
dtypes: float64(1), int64(16)
memory usage: 109.3+ KB

In [12]:
df.keys()

Index(['apps', 'accept', 'enroll', 'top10perc', 'top25perc', 'f_undergrad',
       'p_undergrad', 'outstate', 'room_board', 'books', 'personal', 'phd',
       'terminal', 's_f_ratio', 'perc_alumni', 'expend', 'grad_rate'],
      dtype='object')

In [13]:
df.describe()

,apps,accept,enroll,top10perc,top25perc,f_undergrad,p_undergrad,outstate,room_board,books,personal,phd,terminal,s_f_ratio,perc_alumni,expend,grad_rate
count,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.00000
mean,3001.638353,2018.804376,779.972973,27.558559,55.796654,3699.907336,855.298584,10440.669241,4357.526384,549.380952,1340.642214,72.660232,79.702703,14.089704,22.743887,9660.171171,65.46332
std,3870.201484,2451.113971,929.176190,17.640364,19.804778,4850.420531,1522.431887,4023.016484,1096.696416,165.105360,677.071454,16.328155,14.722359,3.958349,12.391801,5221.768440,17.17771
min,81.000000,72.000000,35.000000,1.000000,9.000000,139.000000,1.000000,2340.000000,1780.000000,96.000000,250.000000,8.000000,24.000000,2.500000,0.000000,3186.000000,10.00000
25%,776.000000,604.000000,242.000000,15.000000,41.000000,992.000000,95.000000,7320.000000,3597.000000,470.000000,850.000000,62.000000,71.000000,11.500000,13.000000,6751.000000,53.00000
50%,1558.000000,1110.000000,434.000000,23.000000,54.000000,1707.000000,353.000000,9990.000000,4200.000000,500.000000,1200.000000,75.000000,82.000000,13.600000,21.000000,8377.000000,65.00000
75%,3624.000000,2424.000000,902.000000,35.000000,69.000000,4005.000000,967.000000,12925.000000,5050.000000,600.000000,1700.000000,85.000000,92.000000,16.500000,31.000000,10830.000000,78.00000
max,48094.000000,26330.000000,6392.000000,96.000000,100.000000,31643.000000,21836.000000,21700.000000,8124.000000,2340.000000,6800.000000,103.000000,100.000000,39.800000,64.000000,56233.000000,118.00000

In [14]:
df['Grad.Rate']['Cazenovia College'] = 100

# Try removing various columns (features) from the dataset and examin if it improves/degrades your K-Means model performance, or it may have little impact.
# Report 10 cases where you removed one or more features and indicate how it impacted the model performance.

KeyError: 'Grad.Rate'

In [28]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score



# Prepare data for clustering
X = df.select_dtypes(include=[np.number])  # Select only numerical features

# Initial K-Means clustering
kmeans = KMeans(n_clusters=3, random_state=42)
kmeans.fit(X)
initial_labels = kmeans.labels_

# Calculate sse and silhouette score
initial_silhouette = silhouette_score(X, initial_labels)
print("Inertia (SSE):", kmeans.inertia_)
print(f'Initial Silhouette Score: {initial_silhouette}')

Inertia (SSE): 32365874599.916077
Initial Silhouette Score: 0.4759356725934926

In [31]:
features_to_remove = [
    ['apps'],                    # Case 1
    ['apps', 'f_undergrad'],              # Case 2
    ['apps', 'f_undergrad', 'p_undergrad'],     # Case 3
    ['apps', 'f_undergrad', 'p_undergrad', 'outstate'],   # Case 4
    ['apps', 'f_undergrad', 'p_undergrad', 'outstate', 'room_board'],  # Case 5
    ['apps', 'f_undergrad', 'p_undergrad', 'outstate', 'room_board','books'],     # Case 6
    ['apps', 'f_undergrad', 'p_undergrad', 'outstate', 'room_board','books', 'personal'] ,         # Case 7
    ['apps', 'f_undergrad', 'p_undergrad', 'outstate', 'room_board','books', 'personal',  'terminal' ] ,      # Case 8
    ['apps', 'f_undergrad', 'p_undergrad', 'outstate', 'room_board','books', 'personal',  'terminal', 's_f_ratio' ] ,    # Case 9
    ['apps', 'f_undergrad', 'p_undergrad', 'outstate', 'room_board','books', 'personal',  'terminal', 's_f_ratio','perc_alumni' ]   # Case 10
]


results = []

for features in features_to_remove:
    X_reduced = X.drop(columns=features)
    kmeans = KMeans(n_clusters=3, random_state=42)
    kmeans.fit(X_reduced)
    labels = kmeans.labels_
    silhouette = silhouette_score(X_reduced, labels)
    results.append((features, silhouette))

# Print results
for features, score in results:
    print(f'Removed features: {features}, Silhouette Score: {score}')

Removed features: ['apps'], Silhouette Score: 0.48111956056822786
Removed features: ['apps', 'f_undergrad'], Silhouette Score: 0.4084321730080595
Removed features: ['apps', 'f_undergrad', 'p_undergrad'], Silhouette Score: 0.4229851342396132
Removed features: ['apps', 'f_undergrad', 'p_undergrad', 'outstate'], Silhouette Score: 0.48615394943626417
Removed features: ['apps', 'f_undergrad', 'p_undergrad', 'outstate', 'room_board'], Silhouette Score: 0.5135609775870955
Removed features: ['apps', 'f_undergrad', 'p_undergrad', 'outstate', 'room_board', 'books'], Silhouette Score: 0.5144309294443421
Removed features: ['apps', 'f_undergrad', 'p_undergrad', 'outstate', 'room_board', 'books', 'personal'], Silhouette Score: 0.5301405214909342
Removed features: ['apps', 'f_undergrad', 'p_undergrad', 'outstate', 'room_board', 'books', 'personal', 'terminal'], Silhouette Score: 0.5301494773619961
Removed features: ['apps', 'f_undergrad', 'p_undergrad', 'outstate', 'room_board', 'books', 'personal', 'terminal', 's_f_ratio'], Silhouette Score: 0.5301499876792578
Removed features: ['apps', 'f_undergrad', 'p_undergrad', 'outstate', 'room_board', 'books', 'personal', 'terminal', 's_f_ratio', 'perc_alumni'], Silhouette Score: 0.5301562339745294

In [ ]:
#The results indicate that removing the feature apps consistently leads to lower silhouette scores, suggesting it may be significant for clustering. 
#However, as more features are removed—specifically f_undergrad, p_undergrad, and others—the silhouette score improves, peaking at 0.5302 when nine features are excluded. 
#This suggests that certain combinations of features enhance clustering performance, highlighting the importance of careful feature selection.